/*html,
body {
  margin: 5px;
  padding: 0px;
}
*/
img {
  border: 1px solid #00000021;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*  .active {
  background-color: #04AA6D;
  color: white;
}*/

/* canvas {
  display: block;
}

.fig_figure {
  position: relative;
  margin: 10px;
  float: right;
}

.fig_img {
  position: absolute;
  top: 0;
  overflow: auto;
  display: block;
}

.fig_figcaption {
  position: absolute;
  bottom: 0;
  text-align: center;
  border: 1px solid blue;
}

.fig_a {
  font-family: serif;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
} */
